body {
  margin: 0;
}

#gridButton {
  margin: 0 auto;
  display: block;
  height: 50px;
  width: 150px;
  margin-bottom: 30px;
  border: none;
  cursor: pointer;
  background-color: rgb(163, 196, 243);
}

#gridButton:hover {
  background-color: rgb(132, 160, 198);

}

.grid {
  border: solid black;
  width: 500px;
  height: 500px;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  text-align: center;
}

.row {
  display: flex;
  flex-grow: 1;
}

.col {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.col.active {
  background-color: black;
}